<!DOCTYPE html>
<html>
<head>
    <title>Blog Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog_app/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Blog Post</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'blog_list' %}">Back to Blog List</a>
    </div>
</body>
</html>
